.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (preers-reduced-motion: no-preerence) {
  .App-logo {
    animation: App-logo-spin ininite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: lex;
  lex-direction: column;
  align-items: center;
  justiy-content: center;
  ont-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dab;
}

@keyrames App-logo-spin {
  rom {
    transorm: rotate(0deg);
  }
  to {
    transorm: rotate(360deg);
  }
}
